.contact_container {
  display: flex;
  justify-content: center;
  position: relative;
  width: auto;
  height: auto;
  z-index: 2;
  background-color: white;
  align-items: center;
}
.contact_container h2 {
  margin: 0px;
  padding-left: 40px;
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  align-items: center;
  align-content: center;
}
.contact_wrapper .fas {
  line-height: 0px;
}

.contact_wrapper ul {
  list-style: none;
  padding-left: 0;
  float: left;
  margin-top: 15px;
  margin-right: 50px;
}

.contact_wrapper li {
  margin-bottom: 10px;
}

.contact_wrapper span {
  color: black;
}
