.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    
    .modal {
        position: absolute;
      width:  30vw;
      height: 70vh;
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      transition: 1s ease;
      transform: translateY(200px);
      transition: all 0.5s ease;
  
      &_header {
        position: relative;
        border-bottom: 1px solid #dddddd;
        &-title {
          text-align: center;
          
        }
  
        .close {
          position: absolute;
          top: -20px;
          right: 15px;
          background: transparent;
          border: none;
          font-size: 30px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          transition: 0.3s ease;
          
          
          img {
            width: 1rem;
            height: auto;
            transition: all 0.3s;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
  
      &_content {
        border-bottom: 1px solid #dddddd;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }
  
      &_footer {
        padding: 2rem 0;
        padding-bottom: 0;
  
        button {
          float: right;
          padding: 0.5rem;
  
          border-radius: 8px;
        }
        .modal-close {
          background-color: transparent;
          font-weight: 600;
  
          &:hover {
            color: rgba(54, 67, 72, 0.8);
          }
        }
        
      }
      
    }
 
  }

  .close:hover {
    color: #FFA500;
    transition: 0.3s ease;
  }

  .modalContainer.show{
    visibility: visible;
    opacity: 1;

    

    .modal{
        transform: translateY(0);
        
      }
      
    
  }
  @media screen and (max-width: 500px) {

    .modalContainer .modal {
        position: absolute;
      width:  70vw;
      right: 40px;
      height: 70vh;
    
    }
}
  

  

  